<template>
  <div class="add">
    <vue-loading v-show="connecting" type="spin" color="#333" v-bind:size="{ width: '150px', height: '150px' }"></vue-loading>
    <h1>Add</h1>
    <div>
      <form v-on:submit.prevent="addTodoAsync">
        <FormElement name="add" submit-word="登録する" v-bind:fm="fm" />
      </form>
    </div>
  </div>
</template>

<script>
import { TODO_MODULE, ADD_TODO_ASYNC } from '@/lib/mutation-types'
import { createNamespacedHelpers } from 'vuex'
const { mapState } = createNamespacedHelpers(TODO_MODULE)

import { VueLoading } from 'vue-loading-template'
import FormElement from '@/components/FormElement'


export default {
  name: 'add',
  props: {
  },
  components: {
    VueLoading,
    FormElement,
  },
  data() {
    return {
      minDay: this.now(),
      fm: {
        content: '',
        due_on: this.oneWeek(),
        finished: false,
      }
    }
  },
  computed: {
    ...mapState([ 'connecting' ]),
  },
  methods: {
    now() {
      const d = new Date()
      const yyyy = d.getFullYear()
      const mm = ("0" + (d.getMonth() + 1)).slice(-2)
      const dd = ("0" + d.getDate()).slice(-2)
      return `${yyyy}-${mm}-${dd}`
    },
    oneWeek() {
      const date = new Date()
      const yyyy = date.getFullYear()
      const mm = ("0" + (date.getMonth() + 1)).slice(-2)
      const dd = ("0" + (date.getDate() + 7)).slice(-2)
      return `${yyyy}-${mm}-${dd}`
    },

    [ADD_TODO_ASYNC]() {
      this.$store.dispatch(`${TODO_MODULE}/${ADD_TODO_ASYNC}`, { todo: this.fm })
      this.$router.push('/todos')
    },

  }
}
</script>


<style lang="scss" scoped>
.add {
  width: 100%;
  min-height: 400px;
  position: relative;
}
.vue-loading {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.error {
  color: #f00000;
}
.formbox {
  margin-bottom: 10px;
  width: 18em;
  text-align: right;
}
.formbox input[type='text'],
.formbox input[type='date']
{
  padding: 6px;
  width: 14em;
}
</style>