<template>
  <div class="edit">
    <vue-loading
      v-show="connecting" 
      type="spin" 
      color="#333" 
      v-bind:size="{ width: '150px', height: '150px' }"
    />
    <h1>Edit</h1>
    <div>
      <form v-on:submit.prevent="updateTodoAsync">

        <FormElement name="edit" submit-word="更新する" v-bind:fm="fm" />

      </form>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { TODO_MODULE, GET_TODO_ASYNC,
UPDATE_TODO_ASYNC, GET_TODO_BY_ID } from '@/lib/mutation-types'

import { createNamespacedHelpers } from 'vuex'
const { mapState } = createNamespacedHelpers(TODO_MODULE)

import { VueLoading } from 'vue-loading-template'
import { isEmpty } from '@/lib/utils'
import FormElement from '@/components/FormElement'


export default {
  name: 'edit',
  props: {
    id: {
      type: Number,
      required: true,
    }
  },
  components: {
    VueLoading,
    FormElement,
  },
  watch: {
    todo(newValue, oldValue) {
      this.fm = Object.assign({}, this.todo)
    },
  },
  // updated() {
  //   this.fm = this.todo
  // },
  created() {
    let tmpTodo = this[GET_TODO_BY_ID]()

    if (isEmpty(tmpTodo)) {
      this[GET_TODO_ASYNC]()
      this.fm = Object.assign({}, this.todo)
    } else {
      this.fm = tmpTodo
    }
  },
  data() {
    return {
      fm: {
        content: '',
        due_on: '',
        finished: false,
        id: 0,
      }
    }
  },
  computed: {
    ...mapState([ 'connecting', 'todo' ]),

  },
  methods: {
    [GET_TODO_BY_ID]() {
      return this.$store.getters[`${TODO_MODULE}/${GET_TODO_BY_ID}`](this.id)
    },

    [GET_TODO_ASYNC]() {
      this.$store.dispatch(`${TODO_MODULE}/${GET_TODO_ASYNC}`, { id: this.id })
    },
    [UPDATE_TODO_ASYNC]() {
      this.$store.dispatch(`${TODO_MODULE}/${UPDATE_TODO_ASYNC}`, { todo: this.fm })
      this.$router.push('/todos')
    },

  }
}
</script>


<style lang="scss" scoped>
.edit {
  width: 100%;
  min-height: 400px;
  position: relative;
}
.vue-loading {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.error {
  color: #f00000;
}
.formbox {
  margin-bottom: 10px;
  width: 18em;
  text-align: right;
}
.formbox input[type='text'],
.formbox input[type='date']
{
  padding: 6px;
  width: 14em;
}

</style>