<template>
  <div class="home">
    <h1>Home</h1>
    <p>Todoリストでやるべきことを管理しましょう。</p>
    <ul>
      <li>やることの〆切を設定可能です</li>
      <li>〆切を過ぎたら<span class="red">赤く</span>なって教えてくれます</li>
      <li>サーバーにデータを記録するので安心です</li>
    </ul>
  </div>
</template>


<style lang="scss" scoped>
.red {
  color: red;
}
</style>