<template>
  <div class="todos">
    <vue-loading
      v-show="connecting" 
      type="spin" 
      color="#333" 
      v-bind:size="{ width: '150px', height: '150px' }"
    />
    <h1>ToDo List</h1>
    <div class="tab_box">
      <ul class="tab_list">
        <li class="a" v-on:click="tabChange('A')" v-bind:class="{active: activeTab === 'A'}">終了・未終了</li>
        <li class="b" v-on:click="tabChange('B')" v-bind:class="{active: activeTab === 'B'}">〆切</li>
      </ul>
      <div class="article">
        <FinishedBox v-if="activeTab === 'A'" v-model="finished" />
        <ExpiredSearch v-else-if="activeTab === 'B'" v-model="expiredStr" />
      </div>
    </div>

    <transition-group tag="ul" v-if="expiredStr === ''">
      <li v-for="todo of todos" v-bind:key="todo.id">
        <Todo v-bind:todo="todo" />
      </li>
    </transition-group>
    <transition-group tag="ul" v-else>
      <li v-for="todo of getTodosByTime" v-bind:key="todo.id">
        <Todo v-bind:todo="todo" />
      </li>
    </transition-group>
  </div>
</template>

<script>
import { TODO_MODULE, GET_TODOS_ASYNC, GET_TODOS_BY_TIME } from '@/lib/mutation-types'
import { createNamespacedHelpers } from 'vuex'
const { mapState, mapGetters, mapActions } = createNamespacedHelpers(TODO_MODULE)

import { VueLoading } from 'vue-loading-template'
import Todo from '@/components/Todo'
import FinishedBox from '@/components/FinishedBox'
import ExpiredSearch from '@/components/ExpiredSearch'

export default {
  name: 'todos',
  components: {
    Todo,
    VueLoading,
    FinishedBox,
    ExpiredSearch,
  },
  created() {
    if (this.todosCount === 0) {
      this.getTodosAsync()
    }
  },
  // mounted() {
  //   this.getTodosAsync()
  // },
  data() {
    return {
      expiredStr: '',
      finished: 'all',
      activeTab: 'A',
    }
  },

  computed: {
    todos() {
      switch (this.finished) {
        case 'all':
          return this.sortedTodos
        case 'finished':
          return this.finishedTodos
        case 'not_finished':
          return this.notFinishedTodos
        default:
          throw new Error("wrong this.finished")
      }
    },
    ...mapState([ 'connecting' ]),

    ...mapGetters([ 'sortedTodos', 'todosCount', 'notFinishedTodos', 'finishedTodos' ]),
    [GET_TODOS_BY_TIME]() {
      return this.$store.getters[`${TODO_MODULE}/${GET_TODOS_BY_TIME}`](this.expiredStr)
    },

  },
  methods: {
    tabChange(tab){
      if (tab === 'A') {
        this.expiredStr = ''
      }
      this.activeTab = tab
    },

    ...mapActions([ GET_TODOS_ASYNC ]),

  }
}
</script>

<style lang="scss" scoped>
.v-enter-active,
.v-leave-active,
.v-move {
  transition: all .5s;
}
.v-leave-active {
  position: absolute;
}
.v-enter,
.v-leave-to {
  transform: translateX(40%) rotate(-6deg);
  opacity: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.add {
  width: 100%;
  min-height: 400px;
  position: relative;
}
.vue-loading {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.tab_list {
  overflow: hidden;
}
.tab_list li {
  float: left;
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: .3s;
  border-radius: 8px 8px 0 0 / 8px 8px 0 0;
}
.tab_list li:not(:first-child) {
  border-left: none;
}
.tab_list li.active {
  background-color: #333;
  border-color: #333;
  color: #fff;
  cursor: auto;
}
.article {
  overflow: hidden;
  margin-top: -1px;
}
.article > div {
  width: 320px;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 50px;
}
</style>