<template>
  <validation-observer v-slot="{ invalid }">
  <ValidationProvider name="内容" rules="required|min:5" v-slot="{ errors }">
    <div class="formbox">
      <label>内容：<input type="text" name="content" v-model.trim="fm.content"></label><br>
      <span class="error">{{ errors[0] }}</span>
    </div>
  </ValidationProvider>
  <ValidationProvider name="〆切" rules="required" v-slot="{ errors }">
    <div class="formbox">
      <label>〆切：<input v-bind:min="minDay" type="date" name="due_on" v-model="fm.due_on"></label><br>
      <span class="error">{{ errors[0] }}</span>
    </div>
  </ValidationProvider>
  <div class="formbox">
    <label>終了：<input type="checkbox" name="finished" v-model="fm.finished"></label>
  </div>
  <div class="formbox">
    <input v-bind:disabled="invalid" type="submit" v-bind:value="submitWord">
  </div>
  </validation-observer>
</template>

<script>

export default {
  name: 'FormElement',
  props: ['submitWord', 'fm'],
  components: {
  },
  data() {
    return {
      minDay: this.now(),
      // fm: {
      //   content: '',
      //   due_on: this.oneWeek(),
      //   finished: false,
      // }
    }
  },
  computed: {

  },
  methods: {
    now() {
      const d = new Date()
      const yyyy = d.getFullYear()
      const mm = ("0" + (d.getMonth() + 1)).slice(-2)
      const dd = ("0" + d.getDate()).slice(-2)
      return `${yyyy}-${mm}-${dd}`
    },

  }
}
</script>


<style lang="scss" scoped>
.error {
  color: #f00000;
}
.formbox {
  margin-bottom: 10px;
  width: 18em;
  text-align: right;
}
.formbox input[type='text'],
.formbox input[type='date']
{
  padding: 6px;
  width: 14em;
}

</style>