<template>
  <div>
    <input type="checkbox" v-bind:checked="todo.finished" v-on:change="toggleTodoAsync({todo})">
    <router-link v-bind:to="'/edit/' + todo.id">
      <span v-bind:class="{done: todo.finished, expired: isExpired(todo)}">
        {{ todo.id }} . {{ todo.content }} 〆切({{ todo.due_on }})
      </span>
    </router-link>
    <span class="cmd" v-if="todo.finished" v-on:click="removeTodoAsync({todo})">[X]</span>
  </div>
</template>

<script>
// import { mapActions } from 'vuex'
import { createNamespacedHelpers } from 'vuex'
const { mapActions } = createNamespacedHelpers('TodoModule')

import { 
  REMOVE_TODO_ASYNC, TOGGLE_TODO_ASYNC, UPDATE_TODO_ASYNC } from '@/lib/mutation-types'

export default {
  name: 'todo',
  props: {
    todo: Object
  },
  data() {
    return {
      // timeStr: '',
    }
  },
  computed: {

  },
  methods: {
    isExpired(todo) {
      return Date.parse(todo.due_on) < Date.now()
    },

    ...mapActions([ REMOVE_TODO_ASYNC, UPDATE_TODO_ASYNC, TOGGLE_TODO_ASYNC ]),


  }
}
</script>

<style lang="scss" scoped>
.done {
  text-decoration: line-through;
}
.cmd {
  cursor: pointer;
  text-decoration: underline;
}
.expired {
  color: red;
}
</style>