<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/todos">Todos</router-link> |
      <router-link to="/add">Add Todo</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  margin: 0 auto;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  font-feature-settings: "palt" 1;
  line-height: 1.8;
  font-size: 16px;
  width: 800px;
  /* paltで句読点が詰まって読みづらいときは、別の指定であるpwid（プロポーショナル字形に置き換える指定）やpkna（仮名や仮名関連の字形セットをプロポーショナル字形に置き換える指定） */
}
#nav {
  width: 800px;
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
[v-cloak] {
  display: none;
}
</style>
